<a href="https://colab.research.google.com/github/EunjinAn/M2_project/blob/main/loop_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### for statement

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]

# Non-Pythonic
doubled_numbers = []

for i in range(len(numbers)):
  doubled_numbers.append(numbers[i] * 2)

## recommand !!!

In [ ]:
# Pythonic
doubled_numbers = [x * 2 for x in numbers]

In [ ]:
doubled_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18]

The Python Standard Library

Part of every standard Python installation
Built-in types
- list , tuple , set , dict , and others

Built-in functions
- print() , len() , range() , round() , enumerate() , map() , zip() , and others

Built-in modules
- os , sys , itertools , collections , math , and others

In [ ]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# range(start,stop)
nums = range(0,11)
nums_list = list(nums)
print(nums_list)

# range(stop)
nums = range(11)
nums_list = list(nums)
print(nums_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
even_nums = range(2, 11, 2)
even_nums_list = list(even_nums)
print(even_nums_list)

[2, 4, 6, 8, 10]

In [ ]:
letters = ['a','b','c','d' ]

indexed_letters = enumerate(letters)
indexed_letters_list = list(indexed_letters)
print(indexed_letters_list)

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [ ]:
letters = ['a','b','c','d' ]
indexed_letters2 = enumerate(letters, start=5)
indexed_letters2_list = list(indexed_letters2)
print(indexed_letters2_list)

[(5, 'a'), (6, 'b'), (7, 'c'), (8, 'd')]

In [ ]:
nums = [1.5, 2.3, 3.4, 4.6, 5.0]
rnd_nums = map(round, nums)
print(list(rnd_nums))

[2, 2, 3, 5, 5]

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
print(x (1,2,3))

6

### Built-in function: map()

In [ ]:
nums = [1, 2, 3, 4, 5]
sqrd_nums = map(lambda x: x ** 2, nums)
print(list(sqrd_nums))

[1, 4, 9, 16, 25]

In [ ]:
nums = [1, 2, 3, 4, 5]
sqrd_nums_1 = map(lambda x: x ** 2-1, nums)
print(list(sqrd_nums_1))

[0, 3, 8, 15, 24]

In [ ]:
nums = [-2,-1, 0, 1, 2]
sqrd_nums = []
for num in nums:
  sqrd_nums.append(num ** 2)
print(sqrd_nums)

In [ ]:
# List comprehension (better option but not best)
sqrd_nums = [num ** 2 for num in nums]
print(sqrd_nums)

[4, 1, 0, 1, 4]

## Runtime

In [ ]:
heroes = ['Batman','Superman','Wonder Woman']
hts = np.array([188.0, 191.0, 183.0])
wts = np.array([ 95.0, 101.0, 74.0])

In [ ]:
def convert_units(heroes, heights, weights):
  new_hts = [ht * 0.39370 for ht in heights]
  new_wts = [wt * 2.20462 for wt in weights]

  hero_data = {}

  for i,hero in enumerate(heroes):
    hero_data[hero] = (new_hts[i], new_wts[i])

  return hero_data

In [ ]:
convert_units(heroes, hts, wts)

{'Batman': (74.01559999999999, 209.4389),
 'Superman': (75.19669999999999, 222.66661999999997),
 'Wonder Woman': (72.0471, 163.14188)}

In [ ]:
%%timeit
def convert_units(heroes, heights, weights):
  new_hts = [ht * 0.39370 for ht in heights]
  new_wts = [wt * 2.20462 for wt in weights]

  hero_data = {}


  for i,hero in enumerate(heroes):
    hero_data[hero] = (new_hts[i], new_wts[i])

70.5 ns ± 1.26 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

### Efficiently, combining, counting, and iterating

In [ ]:
names = ['Bulbasaur', 'Charmander', 'Squirtle']
hps = [45, 39, 44]

In [ ]:
combined = []
for i,pokemon in enumerate(names):
  combined.append((pokemon, hps[i]))
print(combined)

[('Bulbasaur', 45), ('Charmander', 39), ('Squirtle', 44)]

In [ ]:
names = ['Bulbasaur','Charmander','Squirtle']
hps = [45, 39, 44]

In [ ]:
combined_zip = zip(names, hps)
print(type(combined_zip))

<class 'zip'>

In [ ]:
combined_zip_list = [*combined_zip]
print(combined_zip_list)

[('Bulbasaur', 45), ('Charmander', 39), ('Squirtle', 44)]

### Useful methods

In [ ]:
# Each Pokémon's type (720 total)
poke_types = ['Grass','Dark','Fire','Fire']
type_counts = {}
for poke_type in poke_types:
  if poke_type not in type_counts:
    type_counts[poke_type] = 1
  else :
    type_counts[poke_type] += 1
print(type_counts)

{'Grass': 1, 'Dark': 1, 'Fire': 2}

In [ ]:
from collections import Counter
poke_types = ['Grass','Dark','Fire','Fire']
type_counts = Counter(poke_types)
print(type_counts)

Counter({'Fire': 2, 'Grass': 1, 'Dark': 1})

In [ ]:
poke_types = ['Bug','Fire','Ghost','Grass','Water']
combos = []

for x in poke_types:
  for y in poke_types:
    if x == y:
      continue
    if ((x,y) not in combos) & ((y,x) not in combos):
      combos.append((x,y))
print(combos)

[('Bug', 'Fire'), ('Bug', 'Ghost'), ('Bug', 'Grass'), ('Bug', 'Water'), ('Fire', 'Ghost'), ('Fire', 'Grass'), ('Fire', 'Water'), ('Ghost', 'Grass'), ('Ghost', 'Water'), ('Grass', 'Water')]

In [ ]:
from itertools import combinations

poke_types = ['Bug','Fire','Ghost','Grass','Water']
combos = []
combos_obj = combinations(poke_types, 2)
print(type(combos_obj))

<class 'itertools.combinations'>

In [ ]:
combos = [*combos_obj]
print(combos)

[('Bug', 'Fire'), ('Bug', 'Ghost'), ('Bug', 'Grass'), ('Bug', 'Water'), ('Fire', 'Ghost'), ('Fire', 'Grass'), ('Fire', 'Water'), ('Ghost', 'Grass'), ('Ghost', 'Water'), ('Grass', 'Water')]

## Set theory

Python has built-in set datatype with accompanying methods:
- intersection() : all elements that are in both sets
- difference() : all elements in one set but not the other
- symmetric_difference() : all elements in exactly one set
- union() : all elements that are in either set

In [ ]:
list_a = ['Bulbasaur','Charmander','Squirtle']
list_b = ['Caterpie','Pidgey','Squirtle']

In [ ]:
in_common = []
for pokemon_a in list_a:
  for pokemon_b in list_b:
    if pokemon_a == pokemon_b:
      in_common.append(pokemon_a)

print(in_common)

['Squirtle']

In [ ]:
set_a = set(list_a)
print(set_a)

{'Squirtle', 'Charmander', 'Bulbasaur'}

In [ ]:
set_b = set(list_b)
print(set_b)

{'Squirtle', 'Pidgey', 'Caterpie'}

In [ ]:
set_a.intersection(set_b)

{'Squirtle'}

In [ ]:
set_a.difference(set_b)

{'Bulbasaur', 'Charmander'}

In [ ]:
set_a.symmetric_difference(set_b)

{'Bulbasaur', 'Caterpie', 'Charmander', 'Pidgey'}

In [ ]:
set_a.union(set_b)

{'Bulbasaur', 'Caterpie', 'Charmander', 'Pidgey', 'Squirtle'}

## Eliminating loops

Looping pattern

- for loop: iterate over sequence piece-by-piece
- while loop: repeat loop as long as condition is met
- "nested" loops: use one loop inside another loop

Benefits of eliminating loops
- Fewer lines of code
- Better code readability
- efficiency gains

In [ ]:
# List of HP, Attack, Defense, Speed
poke_stats = [
[90, 92, 75, 60],
[25, 20, 15, 90],
[65, 130, 60, 75]]

In [ ]:
# For loop approach
%%timeit
totals = []
for row in poke_stats:
  totals.append(sum(row))

637 ns ± 18 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [ ]:
%%timeit
totals

45.5 ns ± 14.7 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
# List comprehension
%%timeit 
totals_comp = [sum(row) for row in poke_stats]

1.37 µs ± 428 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [ ]:
%%timeit 
totals_comp

30.5 ns ± 0.942 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
# Built-in map() function _ the most efficiency way (%%timeit)
%%timeit 
totals_map = [*map(sum, poke_stats)]

565 ns ± 39.2 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [ ]:
%%timeit
totals_map

30.3 ns ± 0.905 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
poke_types = ['Bug','Fire','Ghost','Grass','Water']

In [ ]:
# Nested for loop approach
combos = []
for x in poke_types:
  for y in poke_types:
    if x == y:
      continue
    if ((x,y) not in combos) & ((y,x) not in combos):
      combos.append((x,y))

In [ ]:
combos

[('Bug', 'Fire'),
 ('Bug', 'Ghost'),
 ('Bug', 'Grass'),
 ('Bug', 'Water'),
 ('Fire', 'Ghost'),
 ('Fire', 'Grass'),
 ('Fire', 'Water'),
 ('Ghost', 'Grass'),
 ('Ghost', 'Water'),
 ('Grass', 'Water')]

In [ ]:
# Built-in module approach
from itertools import combinations

combos2 = [*combinations(poke_types, 2)]
combos2

[('Bug', 'Fire'),
 ('Bug', 'Ghost'),
 ('Bug', 'Grass'),
 ('Bug', 'Water'),
 ('Fire', 'Ghost'),
 ('Fire', 'Grass'),
 ('Fire', 'Water'),
 ('Ghost', 'Grass'),
 ('Ghost', 'Water'),
 ('Grass', 'Water')]

In [ ]:
poke_stats = np.array([
[90, 92, 75, 60],
[25, 20, 15, 90],
[65, 130, 60, 75]
])

In [ ]:
avgs = []
for row in poke_stats:
  avg = np.mean(row)
  avgs.append(avg)
print(avgs)

[79.25, 37.5, 82.5]

In [ ]:
avgs_np = poke_stats.mean(axis=1)
print(avgs_np)

[79.25 37.5  82.5 ]

## Writing better loops

In [ ]:
names = ['Absol','Aron','Jynx','Natu','Onix']
attacks = np.array([130, 70, 50, 50, 45])

for pokemon,attack in zip(names, attacks):
  total_attack_avg = attacks.mean()
  if attack > total_attack_avg:
    print("{}'s attack: {} > average: {}!".format(pokemon, attack, total_attack_avg))

Absol's attack: 130 > average: 69.0!
Aron's attack: 70 > average: 69.0!

In [ ]:
import numpy as np
names = ['Absol','Aron','Natu','Onix']
attacks = np.array([130, 70, 50, 50, 45])

# Calculate total average once (outside the loop)
total_attack_avg = attacks.mean()
for pokemon,attack in zip(names, attacks):
  if attack > total_attack_avg:
    print("{}'s attack: {} > average: {}!".format(pokemon, attack, total_attack_avg))

Absol's attack: 130 > average: 69.0!
Aron's attack: 70 > average: 69.0!

### Using holistic conversions

In [ ]:
names = ['Pikachu','Squirtle','Articuno']
legend_status = [False, False, True]
generations = [1, 1, 1, ...]

poke_data = []

for poke_tuple in zip(names, legend_status, generations):
  poke_list = list(poke_tuple)
  poke_data.append(poke_list)
print(poke_data)

[['Pikachu', False, 1], ['Squirtle', False, 1], ['Articuno', True, 1]]

In [ ]:
names = ['Pikachu','Squirtle','Articuno']
legend_status = [False, False, True]
generations = [1, 1, 1]
poke_data_tuples = []
for poke_tuple in zip(names, legend_status, generations):
  poke_data_tuples.append(poke_tuple)
  poke_data = [*map(list, poke_data_tuples)]
print(poke_data)

[['Pikachu', False, 1], ['Squirtle', False, 1], ['Articuno', True, 1]]